Django==1.8.3
PyYAML==3.11
appnope==0.1.0
awsebcli==3.5
backports.ssl-match-hostname==3.4.0.2
blessed==1.9.5
botocore==1.1.8
cement==2.4.0
colorama==0.3.3
decorator==4.0.2
django-forms-bootstrap==3.0.1
django-jsonfield==0.9.15
django-stripe-payments==2.0.0
docker-py==1.1.0
dockerpty==0.3.4
docopt==0.6.2
docutils==0.12
gnureadline==6.3.3
ipython==4.0.0
ipython-genutils==0.1.0
jmespath==0.7.1
path.py==7.6
pathspec==0.3.3
pexpect==3.3
pickleshare==0.5
psycopg2==2.6.1
python-dateutil==2.4.2
pytz==2015.4
requests==2.6.2
simplegeneric==0.8.1
six==1.9.0
stripe==1.24.1
texttable==0.8.3
traitlets==4.0.0
wcwidth==0.1.4
websocket-client==0.32.0
wsgiref==0.1.2
