{% load staticfiles %}

<html>
<head>

{% block styles %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<link rel="stylesheet" href="{% static 'base.css' %}">
{% endblock %}
</head>

<body>

<div class="donate-header">
    <div class="image-container">
    </div>
</div>

<div class="donate-container">

	{% block content %}
	{% endblock content %}

	<div class="donate-footer" style="background-color: #FFFFFF">
		<p>Back to <a href="http://bushtember.org">Bushtember</a></p>
	</div>

</div>


{% block scripts %}
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/eldarion-ajax/0.12.0/eldarion-ajax.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
{% endblock %}

{% block more-scripts %}{% endblock %}

</body>
</html>