container_commands:
  01_submodule:
    command: "git submodule init && git submodule update"
  02_migrate:
    command: "source /opt/python/run/venv/bin/activate && python bushtember/manage.py migrate --noinput"
    leader_only: true
  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python bushtember/manage.py collectstatic --noinput"