{% extends 'base.html' %}
{% load url from future %}
{% load bootstrap_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 donate-form">
            {% if amount %}
            <div class="alert alert-success" role="alert">Thanks for your donation of ${{ amount }}!</div>
            {% endif %}

            <h2>Donate to Bushtember</h2>
            <p>Choose a donation amount:</p>
            {% if error %}
                <div class="alert alert-error">{{ error }}</div>
            {% endif %}
            <form action="{% url 'payments_ajax_donate' %}" class="form ajax"  data-stripe-key="{{ settings.STRIPE_PUBLIC_KEY }}" data-replace-closest=".donate-form" method="POST">
                {% csrf_token %}
                {{ form|as_bootstrap }}
                <input name="stripe_token" type="hidden" />
                <input name="location" type="hidden" value="{% url 'donations.views.demo_upload_view' %}" />
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Donate</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block more-scripts %}
<script src="//checkout.stripe.com/v2/checkout.js"></script>
<script>
    $(function() {
        $('body').on("click", '.change-card, .donate-form button[type=submit]', function(e) {
          e.preventDefault();
          var $form = $(this).closest("form"),
              token = function(res) {
                $form.find("input[name=stripe_token]").val(res.id);
                $form.trigger("submit");
              };

          StripeCheckout.open({
            key:         $form.data("stripe-key"),
            name:        'Bushtember',
            description: 'Donating to Bushtember',
            amount:      $('#id_amount').value,
            panelLabel:  'Donate',
            token:       token
          });

          return false;
        });
    });
</script>
{% endblock %}