.donate-header {
    width: 100%;
    height: 300px;
    /*position: absolute;/*(or relative)*/*/
    z-index: 5000;
    background-color: #000000;
    visibility: visible;
    background-color: rgba(43, 44, 44, 0.7);
    background: rgba(43, 44, 44, 0.7);
    color: rgba(43, 44, 44, 0.7);
}
.donate-header .image-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-repeat:no-repeat;
    background-position:center bottom;
    background-image: url('/static/images/fluxfinity_example.jpg');
    background-size:cover;
}

.donate-container {
  /*marg*/
  margin-bottom: 0;
}

@media (max-width: 992px) {
  .donate-container, .donate-container-2 {
    width: 100%;
  }
}


body {
  font-family: "PT Sans";
  background: #EAE9E6;
  padding-bottom: 0;
}

img {
    image-orientation: from-image;
}

.donate-info {
  background: #F20024;
  text-align: center;
  border-radius: 25px;
  margin-top: 25px;
  padding: 25px;
}

@media (max-width: 992px) {
  .donate-info {
    border-radius: 0;
    margin-top: 0;
  }
}

.donate-info img {
  max-width:100%;
  max-height:100%;
}

.donate-form {
  /*border-radius: 25px;*/
  background: #EAE9E6;
  padding: 50px;
  margin-top: 0;
}

@media (max-width: 992px) {
  .donate-form {
    padding: 25px;
    margin-top: 0;
  }
}

.donate-form h2 {
  padding-top: 0;
  margin-top: 0;
}

.donate-footer {
  background: #FFFFFF;
  text-align: center;
}

.donate-footer p {
  padding: 20px;
  margin-bottom: 0;
}

.uploaded-image {
  max-width: 100%;
}

/* Spinner */

.spinner {
  display: inline-block;
  opacity: 0;
  width: 0;

  -webkit-transition: opacity 0.25s, width 0.25s;
  -moz-transition: opacity 0.25s, width 0.25s;
  -o-transition: opacity 0.25s, width 0.25s;
  transition: opacity 0.25s, width 0.25s;
}

.has-spinner.active {
  cursor:progress;
}

.has-spinner.active .spinner {
  opacity: 1;
  width: auto; /* This doesn't work, just fix for unkown width elements */
}

.has-spinner.btn-mini.active .spinner {
    width: 10px;
}

.has-spinner.btn-small.active .spinner {
    width: 13px;
}

.has-spinner.btn.active .spinner {
    width: 16px;
}

.has-spinner.btn-large.active .spinner {
    width: 19px;
}
.glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}