{% extends 'base.html' %}
{% load url from future %}
{% load bootstrap_tags %}
{% load staticfiles %}

{% block content %}
<div class="container donate-container-2">
    <div class="row">
        <div class="col-md-6 col-lg-offset-3 col-lg-6 banner donate-info">
            <h1>Be a #LetsFaceItPeriod Donor</h1>
            <img class="donate-image" src="{% static 'images/donate.png' %}" />
        </div>
        <div class="col-md-6 col-lg-offset-3 col-lg-6 donate-form">
            <p>These are the faces of the people who have donated from around the world. Give money and join the <b>Collective Selfie</b> to support our campaign and partners in Kenya, Tanzania, Nepal, South Sudan and the USA.</p>
            <p>The three highest donors and three random donors will be selected to receive a print of the Collective Selfie at the end of the campaign.</p>
            {% if error %}
            <div class="alert alert-error">{{ error }}</div>
            {% endif %}
            <form action="{% url 'payments_ajax_donate' %}" class="form"  data-stripe-key="{{ settings.STRIPE_PUBLIC_KEY }}" data-replace-closest=".donate-form" method="POST">
                {% csrf_token %}
                {{ form|as_bootstrap }}


                <div class="form-group" id="amount-group">
                    <div class="row">
                        <div class="col-xs-12">
                            <label for="id_amount" id="amount_label" class="control-label required-field ">Amount</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-8">
                            <div class="btn-group" data-toggle="buttons">
                              <label class="btn btn-primary active">
                                <input type="radio" name="options" id="amount_10" autocomplete="off">$10
                              </label>
                              <label class="btn btn-primary">
                                <input type="radio" name="options" id="amount_25" autocomplete="off" checked>$25
                              </label>
                              <label class="btn btn-primary">
                                <input type="radio" name="options" id="amount_50" autocomplete="off">$50
                              </label>
                              <label class="btn btn-primary">
                                <input type="radio" name="options" id="amount_other" autocomplete="off">Other
                              </label>
                            </div>
                        </div>
                        <div class="col-xs-4">
                          <input type="text" name="other" id="amount_other_value" autocomplete="off" class="form-control" placeholder="$100">
                      </div>
                    </div>

              </div>

                <div class="row form-group" style="margin-top: 2em;">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary has-spinner" id="donate-button"><span class="spinner"><i class="glyphicon glyphicon-refresh glyphicon-spin "></i></span>Donate</button>
                        &nbsp;&nbsp;<img src="{% static 'images/stripe/outline.png' %}" />
                    </div>
                </div>

                <input name="stripe_token" type="hidden" />
                <input name="location" type="hidden" value="{% url 'donations.views.upload_photo_view' %}" />
            </form>
            <p><em>Donations are administered by NFCC International as fiscal sponsor. All donations are tax deductible.</em></p>
        </div>
    </div>

</div>

{% endblock %}

{% block more-scripts %}
<script src="//checkout.stripe.com/v2/checkout.js"></script>
<script>
    $(function() {
        $("#id_amount, #id_name").keypress(function(e) {
            $(this).parent().parent().removeClass("has-error");
        });

        $("#amount_other_value").click(function(e) {
            $("#amount_other").click();
            $("#amount_other_value").focus();
            $("#amount-group").removeClass("has-error");
        });

        $("#amount_25").click();

        $('body').on("click", '.change-card, .donate-form button[type=submit]', function(e) {
            e.preventDefault();

            var money_regex = /^\+?[0-9]{1,3}(?:,?[0-9]{3})*(?:\.[0-9]{2})?$/;

            var error = false;
            var amount = -1;

            var checked_id = $('input[name=options]:checked', '#amount-group').attr("id");

            if (checked_id == "amount_10") {
                amount = 10;
            } else if (checked_id == "amount_25") {
                amount = 25;
            } else if (checked_id == "amount_50") {
                amount = 50;
            } else if (checked_id == "amount_other") {
                amount = $("#amount_other_value").val().trim();
                if (amount[0] == '$') {
                    amount = amount.substring(1);
                }
                amount = amount.trim();
            }

            var name = $('#id_name').val()

            if (!money_regex.test(amount) || parseFloat(amount) < 1) {
                $('#amount-group').addClass("has-error");
                error = true;
            }

            if (name.length <= 0 || name.length >= 127) {
                $('#id_name').parent().parent().addClass("has-error");
                error = true;
            }

            if (error) {
                return false;
            }

            var form = $(this).closest("form");

            var token = function(res) {
                // This gets triggered if StripeCheckout.open() is executing the transaction
                
                form.find("input[name=stripe_token]").val(res.id);
                form.find("input[name=amount]").val(amount);
                form.trigger("submit");

                $('#donate-button').addClass('active')
                                   .prop('disabled', 'true');
            };

            StripeCheckout.open({
                key:         form.data("stripe-key"),
                name:        '#LetsFaceItPeriod',
                description:    'Support menstrual health and hygiene',
                amount:      parseFloat(amount) * 100,
                panelLabel:  'Donate',
                token:       token
            });

            return false;
        });
    });
</script>

{% endblock %}