{% extends 'base.html' %}
{% load bootstrap_tags %}
{% load staticfiles %}
{% load static %}

{% block content %}
<div class="container donate-container-2">
    <div class="row">
        <div class="col-md-6 donate-form">
            <div class="row">
                <div class="col-md-12">
                    <h4>Thank you for donating to the #LetsFaceItPeriod campaign.</h4>
                    <p>Your donation will make a real difference for women and girls, through helping our partners provide menstrual hygiene products and training on menstrual health and menstrual hygiene management.</p>
                    <p>We are proud of your support, and would like to invite you to upload a photo to become part of our <b>Collective Selfie</b>. (Don't worry, if you want to upload a photo later, we've included a link to this page in your receipt email.)</p>
                </div>
            </div>
            {% if donation.uploaded_image %}
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <p><img class="uploaded-image" src="{% get_media_prefix %}uploads/{{ uploaded_image }}" /></p>
                        <p>This photo will be used in the collage. (Don't worry if it's rotated, we'll fix it for you.)</p>
                    </div>
                </div>
            </div>
            {% else %}
            <form action="{% url 'donations.views.upload_photo_view' donation.token %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            <input id="id_image" type="file" class="" name="image">
                        </p>
                    </div>
                </div>
                <div class="row" style="margin-top: 1em;">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary" id="submit-photo">Submit photo</button>
                    </div>
                </div>
            </form>
            {% endif %}
        </div>
        <div class="col-md-6 banner donate-info">
            <h1>Thank you</h1>
            <img src="{% static 'images/donate.png' %}" />
        </div>
    </div>
</div>
{% endblock %}

{% block more-scripts %}
{{ form.media }}
<script type="text/javascript">
(function() {
    $("#submit-photo").click(function(e) {
        var image = $("#id_image");

        if (!image.val()) {
            $('#div_id_image').addClass("has-error");
            e.preventDefault();
        }
    });
})();
</script>
{% endblock %}